.about {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .logo {
    gap: 1rem;
}

.about .logo img {
    width: 2rem;
}

.about .logo p {
    font-size: 5rem;
}

.about .disclaimer {
    width: 50%;
    text-align: center;
    margin-top: 2rem;
}

.about .seal {
    background: rgb(255, 255, 32, .5);
    transform: rotate(-25deg);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .about {
        padding: 2rem;
        text-align: center;    
    }

    .about .logo {
        gap: .5rem;
    }

    .about .logo img {
        width: 1rem;
    }

    .about .logo p {
        font-size: 4rem;
    }

    .about .disclaimer {
        width: 90%;
        line-height: 1.5rem;
    }
}