.market {
    background: rgb(243, 237, 243);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.market .image {
    --width: 400px;
    --height: 500px;
}

@media screen and (max-width: 600px) {
    .market .image {
        --width: 300px;
        --height: 300px;
    }
}
