.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.product .add-button {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.product .number-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product .number-input input[type="number"] {
    width: 5rem;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.product .number-input button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.product .seal {
    background: rgb(255, 255, 47, .75);
    border-radius: 50%;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -1rem;
    left: -1rem;
    transform: rotate(-25deg);
    z-index: 1;
}
