.purchased {
    flex-grow: 1;
    display: grid;
    place-items: center;
    padding: 1rem;
}

.purchased .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.purchased .wrapper {
    position: relative;
}

.purchased .wrapper .expand {
    background-image: url("../../assets/arrow.svg");
    background-color: rgb(213, 225, 236, 0.75);
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.purchased .display {
    background: rgb(16, 16, 107, 0.25);
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 1;
    transition: top 0.33s;
}

.purchased .display img {
    max-width: 100vw;
    max-height: 100vh;
}

.purchased .display .close {
    background-image: url("../../assets/close.svg");
    background-size: cover;
    background-color: rgb(213, 225, 236, 0.75);
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.purchased .error {
    display: grid;
    place-items: center;
    gap: 2rem;
    width: 50%;
}

.purchased .error .message {
    color: rgb(234, 92, 115);
    text-align: center;
}

@media screen and (max-width: 600px) {
    .purchased .error {
        width: 100%;
     }
}