.home {
    display: grid;
    place-items: center;
    flex-grow: 1;
    background: rgb(237, 220, 220);
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.home .logo img {
    width: 1.5rem;
    height: 1.5rem;
}

.home .logo {
    font-size: 5rem;
    gap: 0.5rem;
}

.home p {
    line-height: 2rem;
}

@media screen and (max-width: 600px) {
    .home {
        display: flex;
        flex-direction: column;
    }

    .home .logo img {
        width: 1rem;
        height: 1rem;
    }

    .home .logo {
        font-size: 4rem;
    }

    .home p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .home .image {
        --width: 200px;
        --height: 200px;
    }
}
