.checkout {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.checkout .content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.checkout .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.checkout .proceed {
    padding: .25rem 1rem;
    border-radius: 5px;
}

.checkout .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    user-select: none;
}

.checkout .empty .emoji {
    color: pink
}

.checkout .empty .message {
    color: rgb(234, 92, 115);
}