.navbar {
    background: rgb(176, 224, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar .icon-button {
    width: 1.5rem;
    height: 1.5rem;
}

.navbar .logo {
    color: rgb(81, 0, 0);
    gap: 0.5rem;
    font-size: 3rem;
}

.navbar .logo img {
    width: 1.25rem;
    height: 1.25rem;
}

.navbar .burger {
    display: none;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .links a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        position: relative;
    }

    .navbar .burger {
        display: flex;
    }

    .navbar .links {
        background: rgb(189, 250, 218);
        position: absolute;
        left: 0;
        width: 100%;
        padding: 1rem;
        z-index: 1;
        transition: opacity .33s, .33s;
        display: flex;
        justify-content: space-between;
    }

    .navbar .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .links.checked {
        top: 100%;
        opacity: 1;
    }

    .navbar .links.unchecked {
        top: -100%;
        opacity: 0;
    }

    .navbar .logo {
        gap: 0.25rem;
        font-size: 2rem;
    }

    .navbar .logo img {
        width: 1rem;
        height: 1rem;
    }
}
