.underlink {
    display: inline-flex;
    flex-direction: column;
 }

.underlink a {
    text-decoration: none;
    color: rgb(234, 7, 45);
}

.underlink img {
    width: 1.5rem;
    height: 1.5rem;    
}

.underlink span {
    background: rgb(238, 113, 113);
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.33s;
    pointer-events: none;
}

@media screen and (hover: hover) {
    .underlink a:hover + span {
        width: 100%;
    }
}
