.underline {
    display: inline-flex;
    flex-direction: column;
 }

.underline a {
    text-decoration: none;
    color: rgb(234, 7, 45);
}

.underline span {
    background: rgb(238, 113, 113);
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.33s;
    pointer-events: none;
}

@media screen and (hover: hover) {
    .underline a:hover + span {
        width: 100%;
    }
}
