.image {
    --width: 300px;
    --height: 300px;
    width: var(--width);
    height: var(--height);
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 10px;
    transition: transform 0.33s, box-shadow 0.33s;
}

.image .background {
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.image img {
    max-width: var(--width);
    max-height: var(--height);
    position: relative;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .image {
        --width: 150px;
        --height: 150px;
    }
}
